[submodule ".vim/pack/tpope/start"]
	path = .vim/pack/tpope/start
	url = git@github.com:bleepster/vim-sensible.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:bleepster/ohmyzsh.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = git@github.com:bleepster/gruvbox.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = git@github.com:bleepster/rust.vim.git
[submodule "pyenv"]
	path = .pyenv
	url = git@github.com:bleepster/pyenv.git
[submodule ".vim/pack/coc/start"]
	path = .vim/pack/coc/start
	url = git@github.com:bleepster/coc.nvim.git
	branch = release
